<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>

<section class="resume-section">
  <h2>General Skills</h2>
  <p><strong>Laboratory Skills:</strong> Optics, Electronics, Microscopy, Basic Chemistry</p>
  <p><strong>Computer Skills:</strong> Python, SQL, Java, PHP, Javascript, HTML/CSS, Linux, Cybersecurity...</p>
  <p><strong>Related Technical Skills/Hobbies:</strong> 3D Printing & Custom 3D Printer Design, Game Development in Unity, Artificial Intelligence / Machine Learning using TensorFlow...</p>
  <p><strong>Other Skills:</strong> Startup Development & Company Formation, Financial Literacy & Business Strategy, General Knowledge of Law / Contracts / Team Management</p>
</section>

<section class="resume-section">
  <h2>Education</h2>
  <ul>
    <li><strong>BSc, Physics</strong> | University of Pittsburgh <em>(2027)</em></li>
    <li><strong>BSE, Engineering Physics</strong> | University of Pittsburgh <em>(2027)</em></li>
  </ul>
</section>

<section class="resume-section">
  <h2>Work Experience</h2>

  <h3><strong>Physics Researcher @ DuttLab</strong> <em>(2023 - Present)</em></h3>
  <ul>
    <li>Deployed and maintained a self-hosted instance of <strong>OpenProject</strong> for the laboratory, creating a centralized platform for documentation, onboarding, and project management.</li>
    <li>Designed a neural sensing experiment using <strong>magnetometry in nitrogen-vacancy (NV) centers in diamond</strong> to image <strong>neuromuscular junctions (NMJs)</strong> in motor neurons, supporting research into <strong>Parkinsonism</strong>, <strong>muscular dystrophy</strong>, and related neurodegenerative diseases.</li>
    <li>Created and implemented <strong>Python</strong> interfaces to automate laboratory experiments and developed controllers for laboratory instruments.</li>
    <li>Updated all computers in the laboratory to modern hardware</li>
    <li>Managed day-to-day lab operations and coordinated team workflows</li>
  </ul>
  <div class="user-projects">
    <img src="/assets/img/cryostat.jpg" alt="Cryostat" />
  </div>

  <h3><strong>Developer @ Levylab</strong> <em>(2022 - 2023)</em></h3>
  <ul>
    <li>Collaborated in the design and development of a <strong>microsoldering station</strong> optimized for preparing experimental samples.</li>
    <li>Built real-time data interfaces using a <strong>PostgreSQL</strong> backend on <strong>AWS</strong> and <strong>Grafana</strong> front-end, enabling continuous experiment monitoring and visual feedback via a display wall.</li>
  </ul>
  <div class="user-projects">
    <img src="/assets/img/c-AFM.png" alt="AFM Image" />
  </div>

  <h3><strong>Salesman @ Staples</strong> <em>(2022)</em></h3>
  <ul>
    <li>Provided customer-facing <strong>sales support</strong> with a focus on printers and office electronics, ensuring a positive and helpful in-store experience.</li>
    <li>Excelled in building rapport with customers, contributing to recurring visits, upsells, and increased sign-ups for service subscriptions and rewards programs.</li>
    <li>Recognized for delivering consistent <strong>customer satisfaction</strong> and actively contributing to team sales goals during a <strong>short-term</strong> but high-impact role.</li>
  </ul>

  <h3><strong>Lab Technician @ Westmoreland Mechanical Testing and Research</strong> <em>(2020 - 2022)</em></h3>
  <ul>
    <li>Worked in a materials analysis laboratory specializing in <strong>electron microscopy</strong> and <strong>surface characterization</strong> of <strong>specialty metals</strong>.</li>
    <li>Routinely prepared samples for analysis and performed standardized testing on material properties.</li>
    <li>Supported testing for a global client base including <strong>defense</strong>, <strong>aerospace</strong>, and <strong>automotive</strong> manufacturers.</li>
  </ul>
  <div class="user-projects">
    <img src="/assets/img/wmtr.jpg" alt="WMTR Lab" />
  </div>
  
  <h3><strong>Stage Manager @ Apple Hill Playhouse</strong> <em>(2018 - 2019)</em></h3>
  <ul>
    <li>Coordinated <strong>all aspects of stage production</strong> for <strong>three full theatrical shows</strong> during the entire summer season, collaborating closely with directors, actors, and fellow stage managers.</li>
    <li>Led and coordinated <strong>teams of over 20 people</strong>.</li>
    <li>Contributed to <strong>set construction</strong>, <strong>lighting</strong> and <strong>sound design</strong>, <strong>prop creation</strong>, <strong>auditions</strong>, and <strong>blocking</strong>, ensuring smooth rehearsals and live performances.</li>
    <li>Played a hands-on role in building large stage structures and sets under the mentorship of a veteran theatrical director with decades of national experience.</li>
    <li>Gained invaluable team-building experience and developed strong communication, creative problem-solving, and organizational skills - while making unforgettable memories.</li>
  </ul>
  <div class="user-projects">
    <img src="/assets/img/apple_hill.jpg" alt="Apple Hill Playhouse" />
    <img src="/assets/img/apple_hill2.jpg" alt="Apple Hill Playhouse 2" />
  </div>
  
  <h3><strong>Co-Founder/Vice President @ NewArk Industries LLC.</strong> <em>(2016 - 2018)</em></h3>
  <ul>
    <li>Co-founded a startup at age 15 with a team of five developers, focusing on web-based platforms including <strong>encrypted messaging systems</strong>, <strong>tech forums</strong>, and <strong>social media applications</strong>.</li>
    <li>Developed full-stack web applications using <strong>MySQL</strong>, <strong>Apache NetServer</strong>, <strong>PHP/SQL</strong>, <strong>JavaScript</strong>, and <strong>HTML/CSS</strong>, gaining hands-on experience in both frontend and backend systems.</li>
    <li>Gained foundational experience in <strong>business operations</strong>, <strong>team leadership</strong>, and <strong>technical project management</strong>, laying the groundwork for future entrepreneurial ventures.</li>
  </ul>

  <h3><strong>Chef @ Pizza Siena</strong> <em>(2015 - 2016)</em></h3>
  <ul>
    <li>Began working at age 14 in a local pizza shop, gaining early hands-on experience in a fast-paced kitchen environment.</li>
    <li>Responsible for daily prep including <strong>cheese grating</strong>, <strong>sauce-making</strong>, <strong>box folding</strong>, and crafting <strong>pizza dough from scratch</strong>.</li>
    <li>Handled customer orders, maintained kitchen cleanliness, and prepared food.</li>
    <li>Saved earnings from this job to fund and file for an LLC, marking <strong>the start of my early entrepreneurial path</strong>.</li>
  </ul>
  <div class="user-projects">
    <img src="/assets/img/pizza_siena.jpg" alt="Pizza Siena" />
  </div>
</section>
