<div class="user-details">
  <h1>Featured Projects</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="CAD Backpack" src="{{ "/assets/img/1000008045.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Engineering Analysis – Making a Prototype Backpack</h3>
    <ul>
      <li>Worked with the same engineering analysis team to identify needs and preferences for student backpacks on campus</li>
      <li>Conducted interviews to gather user input on desirable features such as compartments and materials</li>
      <li>Designed digital and foam board prototypes of a backpack based on feedback</li>
      <li>Presented findings and prototypes to peers for further refinement and validation</li>
    </ul>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Environmental Prototypes" src="{{ "/assets/img/wmtr.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Engineering Analysis – Prototyping and Creating Environmental Awareness</h3>
    <ul>
      <li>Collaborated with a team of three engineering students to promote environmental awareness and renewable energy on campus</li>
      <li>Designed and built a series of three <strong>low-fidelity prototypes</strong> utilizing foam board and digital methods to present to students</li>
      <li>Conducted user interviews and feedback sessions to <strong>evaluate design effectiveness</strong> and gather suggestions for improvement</li>
      <li>Delivered multiple <strong>presentations</strong> to students and faculty, focusing on <strong>design</strong> and <strong>creation of value</strong></li>
    </ul>
  </div>
</div>
